.topFixedBanner{
    background-image: url("../images/banner.jpg");
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 450px;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}

.topContent{
    margin-top: 15em;
}

.topTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.ecommerceIcon{
    height: 80px;
    width: 80px;
}

.designIcon{
    height: 80px;
    width: 80px;
}

.webIcon{
    height: 80px;
    width: 80px;
}

.serviceCard{
    margin: 5px;
    text-align: center;
    height: 20rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0px 0px 10px #b3b3b3;
    transition: all 0.4s ease-in-out;
}

.serviceCard:hover{
    margin: 5px;
    text-align: center;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0px 0px 15px 0 rgba(4,55,105,0.2);
    transition: all 0.4s ease-in-out;
}

.serviceName{
    color: #051b35;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.serviceDescription{
    color: #505050;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.serviceMainTitle{
    color: #051b35;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.buttom{
    background: #051b35 none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.navTitle{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 30px;
}

.navTitleScroll{
    font-family: 'Montserrat', sans-serif;
    color: #051b35 !important;
    font-weight: 700;
    font-size: 30px;
}

.navBackground{
    transition: background-color 400ms linear;
    background-color: rgb(00, 00, 00, 0.0)!important;
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
}

.navBackgroundScroll{
    transition: background-color 400ms linear;
    background-color: #ffffff;
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
}

.navItem{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 700;
}

.navItemScroll{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #000000 !important;
    font-size: 16px;
    font-weight: 700;
}

.summaryBanner{
     background-image: url("../images/summary.jpg");
     min-height: 400px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.summaryBannerOverlay{
     position: absolute;
     min-height: 400px;
     width: 100%;
     background: rgba(27, 31, 92, 0.7);
}
.countNumber{
     color: #ffffff;
     font-family: 'Montserrat',sans-serif;
     font-weight: 700;
     font-size: 40px;
}
.countTitle{
     color: #ffd900;
     font-family: 'Raleway',sans-serif;
     font-weight: 600;
     font-size: 22px;
}
.countSection{
    margin-top: 20%;
}

.hrTitle{
    color: white;
    width: 20%;
    margin: 1rem auto 0;
}

.countSection{
    margin-top: 20%;
}
.cardTitle{
     color: #000000;
     font-family: 'Montserrat',sans-serif;
     font-weight: 700;
     font-size: 15px;
}
.cardSubTitle{
     color: #000000;
     font-family: 'Raleway',sans-serif;
     font-weight: 600;
     font-size: 14px;
}
.workCard{
     margin-top: 25%;
     padding: 10px;
     border-radius: 3px;
}

.iconBullet{
    color: #051b35;
    font-size: 16px;
}

.iconProject{
    color: #ffffff;
    font-size: 40px;
}

.projectCard{
    background: #ffffff;
    width: 22em;
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -ms-border-radius: 0.6em;
    -o-border-radius: 0.6em;
    margin: 0 auto 1.5rem;
    cursor: pointer;
    box-shadow: 0px 13px 25px -5px;
    transition: all ease 200em;
    -webkit-transition: all ease 200em;
    -moz-transition: all ease 200em;
    -ms-transition: all ease 200em;
    -o-transition: all ease 200em;
}

.projectCard:hover{
    transform: scale(1.03);
    box-shadow: 0px 13px 30px -5px;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}
.projectCard img {
   max-width: 100%;
   height: auto;
}

.courseImg{
    width: 100%;
}

.courseViewMore{
    color: #051b35;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.videoCard{
    box-shadow: 0px 13px 10px -5px;
    padding: 8rem 3rem 8rem 3rem;
    background: #051b35;
    margin: 20px auto;
    border-radius: 5px;
}

.videoText{
    margin-top: 2%;
}